body {
  width: 300px;
  height: 380px;
  margin: 0;
  padding: 10px;
  background-color: #2a2a2a;
  font-family: 'Century Gothic', sans-serif;
  color: rgb(255, 255, 255);
}

.tagline {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #FFC300;
  text-shadow: 2px 2px 2px rgba(60, 60, 60, 0.5);
  /* text-transform: uppercase; */
}

img {
  padding-top: 10px;
  display: block;
  margin: auto;
  width: 127px;
  height: 55px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.review-label {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;

}

.review-textarea {
  height: 100px;
  resize: none;
  font-size: 13px;
  padding: 5px;
  border: 1px solid #ffffff3a;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  overflow-y: scroll;
  overflow: hidden;
}

.submit-button {
  font-size: 14px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #FFC300;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.submit-button:disabled {
  cursor: not-allowed;
}

p {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  /* padding-bottom: 20px; */
}
.prediction-result{
  font-size: 18px;
}

.similarity-percentage {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #FFC300;
}

.description {
  font-size: 10px;
}

.hidden {
  display: none;
}

.collapsed {
  display: none;
}

.see-more-button {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #FFC300;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  display: block;
  margin: 20px auto; 
}

.see-more-button:hover {
  text-decoration: underline;
}

.spinner{
  display: none;
  width: 20px;
  height: 20px;
  padding-bottom: 20px;
}